<h1><%= @record.artist %></h1>

<p>Title: <%= @record.cd_title %></p>
<p>Year: <%= @record.year %></p>
<p>Record label: <%= @record.record_label %></p>
<p>Cost: <%= @record.cost %></p>
<p>Image: <%= @record.image %></p>