<h1><% @record.artist %></h1>


<h3>Title: <%= @record.cd_title %></h3>
<p>Title: <%= @record.year %></p>
<p>Record Label: <%= @record.record_label %></p>
<p>cost: <%= @record.cost %></p>
<p>Image: <%= @record.image %></p>
<p></p>
<h5><a href="/records/<%= @record.id %>/edit"> Edit </a></h5>
